include partials/head
header
  include partials/navbar
main.mt-5
  .container
    if (negocio.Estado === "En revisión")
      if (sesion.ID_Usuario == negocio.ID_Negocio)
        p.my-5.text-center.fs-1.text-secondary Tú cuenta está en revisión para ser aceptada. Pronto recibiras una respuesta de los administradores de HogarFinder.
      else
        p.my-5.text-center.fs-1.text-secondary Esta cuenta está en revisión
    else if (negocio.Estado == 'Rechazada')
      if (sesion.ID_Usuario == negocio.ID_Negocio)
        p.my-5.text-center.fs-1.text-secondary Tú cuenta fue rechazada. Pronto los administradores de HogarFinder se pondrán en contacto contigo para más información.
      else
        p.my-5.text-center.fs-1.text-secondary Esta cuenta está en revisión
    else if (negocio.Estado == 'Aceptada')
      section.row.gy-3.align-items-center.mb-5
        .col-12.col-sm-8.col-md-9.col-xl-10.d-flex.align-items-center
          img.rounded-circle.me-3(src='https://placehold.co/100/skyblue/white' alt='Usuario')
          div
            h1 #{negocio.Nombre_negocio}
            p.text-muted #{negocio.Tipo_servicio}
        .col-12.col-sm-4.col-md-3.col-xl-2.text-center
          if (sesion.tipoCuenta === "negocio" && sesion.ID_Usuario == negocio.ID_Negocio)
            a.btn.btn-info.btn-sm.text-white.fw-bold(href='/editar-perfil-negocio' role='button')
              <i class="bi bi-pencil-square"></i>
              | &nbsp;Editar datos
      section.row.gy-3.align-items-center.mb-5
        .col-12.col-md-4.col-lg-3.text-center
          a.btn.btn-info.btn-lg.text-white.d-block(href='' role='button')
            i.bi.bi-telephone-fill.me-1
            | &nbsp;#{negocio.Telefono_Negocio}
        .col-10.col-md-7.col-lg-8
          i.bi.bi-geo-alt-fill
          | &nbsp;#{negocio.Domicilio}
        .col-2.col-md-1
          if (sesion.tipoCuenta === 'cliente')
            button.btn#boton-favorito(type='button' data-favorito='' + esFavorito)
              i#boton-favorito-icono.bi.text-info.fs-2(class = esFavorito ? 'bi-heart-fill' : 'bi-heart')
      .row.gy-4
        section.col-12.col-md-8.col-lg-6.col-xl-8
          .d-flex.justify-content-between.align-items-start
            h3.mb-3.fw-bold Publicaciones
            if (sesion.tipoCuenta === "negocio" && sesion.ID_Usuario == negocio.ID_Negocio)
              a.btn.btn-info.btn-sm.text-white.fw-bold(href='/crear-publicacion' role='button')
                i.bi.bi-plus-lg.me-1
                | Crear publicación
          div
            each servicio in servicios
              article.mb-2
                a.card.text-decoration-none.text-reset(href='/servicio/' + servicio.ID_Post)
                  .d-flex
                    div.servicio-thumbnail-100
                      img.rounded-start(src=(servicio.foto ? '/images/' + servicio.foto : 'https://placehold.co/100/skyblue/white') alt='Negocio')
                    div
                      .card-body
                        h5.card-title #{servicio.Titulo}
                        p.text-muted.fs-6.mb-0 #{servicio.Fecha_creacion}
        section.col-12.col-md-4.col-lg-6.col-xl-4
          h3.mb-3.fw-bold Opiniones
          .mb-2
            for i in Array(puntaje).fill()
              i.bi.bi-star-fill.text-warning.fs-3.me-1
            for i in Array(5 - puntaje).fill()
              i.bi.bi-star.text-warning.fs-3.me-1
            span.ms-1.fs-4 #{puntaje}
          if (sesion.tipoCuenta === 'cliente')
            form#form-opiniones(action='/perfil-negocio/' + negocio.ID_Negocio, method='POST')
              .mb-2
                label.form-label(for='input-comentario')
                  | Escribe un comentario
                input#input-comentario.form-control(type='text' name='comentario' required)
              .row.gx-1.mb-3
                .col-6
                  select#select-puntaje.form-select(name='puntaje')
                    option(value='' selected='') Da una calificación
                    option(value='1') 1 Estrellas
                    option(value='2') 2 Estrellas
                    option(value='3') 3 Estrellas
                    option(value='4') 4 Estrellas
                    option(value='5') 5 Estrellas
                .col-6
                  button.btn.btn-info.text-white.w-100(type='submit')
                    i.bi.bi-send-fill.me-1
                    | &nbsp;Enviar
            p.text-end
              a(href='/perfil-negocio/' + negocio.ID_Negocio + '/reportar-negocio').link-danger
                i.bi.bi-exclamation-square-fill
                |&nbsp;Reportar
          else
            p.text-muted.mb-4 Inicia sesión como cliente para proporcionar una opinión.
          div
            each comentario in comentarios
              article.mb-4
                div
                  img.rounded-circle(src='https://placehold.co/30/skyblue/white' alt='Cliente')
                  h6.fw-bold.d-inline-block &nbsp;#{comentario.nombre_cliente}
                p #{comentario.Comentario}
include partials/footer
include partials/scripts