include partials/head
header
  include partials/navbar
main.mt-5
  .container
    .row.gy-3.mb-5
      .col-12.col-md-6.col-lg-4
        img.w-100(src='https://placehold.co/200/skyblue/white' alt='Servicio')
      .col-12.col-md-6.col-lg-8
        h1.fw-bold #{servicio.Titulo}
        p.text-muted
          | Por&nbsp;
          a.link-dark.link-offset-2.link-underline-opacity-25.link-underline-opacity-100-hover(href='/perfil-negocio/' + servicio.ID_Negocio)
            | #{servicio.Nombre_negocio}
          | &nbsp;el #{servicio.Fecha_creacion}
        p #{servicio.Descripcion}
        p.text-muted
          | $
          span.text-body.fs-5 #{servicio.precio}
          | &nbsp;MXN
    .text-center
      a.btn.btn-info.btn-lg.text-white(href='' role='button')
        i.bi.bi-telephone-fill.me-1
        | &nbsp; #{servicio.Telefono_Negocio}
include partials/footer
include partials/scripts